.ongoing-dialog-item {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #BDBDBD;
  overflow: hidden;
}

.ongoing-dialog-item:last-of-type {
  border-bottom: 1px solid #BDBDBD;
}

.ongoing-dialog-item > * {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ongoing-dialog-item > .avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
}

.ongoing-dialog-nickname {
  position: absolute;
  top: 10px;
  left: 60px;
  width: calc((100% - 60px) * 0.8);
  height: 20px;
  padding-left: 10px;
  font-size: 20px;
  color: #212121;
  text-align: left;
  line-height: 20px;
}

.ongoing-dialog-datetime {
  position: absolute;
  top: 10px;
  right: 0;
  width: calc((100% - 60px) * 0.2);
  height: 20px;
  padding-right: 10px;
  font-size: 14px;
  color: #616161;
  text-align: right;
  line-height: 20px;
}

.ongoing-dialog-conversation {
  position: absolute;
  bottom: 10px;
  left: 60px;
  width: calc(100% - 60px);
  height: 20px;
  padding-left: 10px;
  font-size: 16px;
  color: #616161;
  text-align: left;
  line-height: 20px;
}