.page-bar-item {
  flex-grow: 1;
  height: 50px;
  padding: 5px;
  list-style-type: none;
  cursor: pointer;
}

.page-bar-item img {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.page-bar-item span {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}