html {
  background-color: #E0E0E0;
  padding: 0;
}

.App {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-body {
  padding: 0;
}

.App-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  background-color: black;
}
